.icon-stackiq-widget {
	background-image: url('../img/app-dark.svg');
	filter: var(--background-invert-if-dark);
}

body.theme--dark .icon-stackiq-widget {
	background-image: url('../img/app.svg');
}
